.question {
  font-size: 20px;
  input[type=radio]{
    width: 15px;
  
  }
  .option{
    cursor: pointer;

  }
  
}

.qHead{
  font-size: 22px;
}

.qBox{
  text-align: center;
  margin-right: 10px;
}

.optBtn{
  text-align-last: center;
  font-size: 20px;
}

.qrow{
  margin-right: 2px;
}
